:root {
  --background: #000000;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-gray: #5c5c5c;
  --color-gold: #ffd700;
  --color-darkgold: #B8860B;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

@media (width >= 481px) {
  * {
      display: none;
  }
}

@media (height <= 740px) {
  main {
    padding-bottom: 7rem;
  }
}

body {
  background: var(--background);
  color: var(--color-white);
  display: block;
  height: 100vh;
}

header {
  padding: 1rem 1.5rem;
}

a {
  text-decoration: none;
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.user-photo {
  height: 34px;
  width: 34px;
  border-radius: 20%;
  border: 1px solid #a87900;
  margin-right: 0.5rem;
  padding: 0.1rem;
}

.usercard-icon {
  margin-left: 1rem;
}

/* user balance card style */
.user-balance {
  border-top: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
  font-size: 12px;
  padding: 0 1.5rem;
  margin-top: 1rem;
  font-weight: 600;
  color: var(--color-gray);
}

.balance-card {
  border-left: 1px solid var(--color-gray);
  border-right: 1px solid var(--color-gray);
}

.balance-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--color-gray);
}

.airdrop, .points {
  text-align: center;
  align-content: center;
}

.airdrop span,
.points span {
  font-size: 18px;
  color: var(--color-white);
  vertical-align: middle;
  font-weight: bold;
}

.balance-title {
  margin-bottom: 0.3rem;
}

.coin-image {
  vertical-align: middle;
  margin-right: 0.3rem;
  animation: glow 1s infinite alternate, rotate 10s infinite linear;
}

.unlock-rewards span {
  animation: glow 1s infinite alternate-reverse;
}

@keyframes glow {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(3);
  }
}

@keyframes rotate {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateY(2160deg);
  }
}

.keys {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--color-white);
}

.unlock-rewards {
  color: var(--color-darkgold);
  background-color: transparent;
  outline: none;
  border: 1px solid transparent;
}

.unlock-rewards span {
  font-weight: bold;
  font-size: 15px;
}
.key {
  display: flex;
  justify-content: center;
  align-items: center;
}
.key-card {
  border: 1px solid var(--color-gray);
  padding: 0.3rem;
  margin-right: 0.3rem;
  border-radius: 0.3rem;
  background-color: var(--color-gold);
}
.key-icon {
  vertical-align: middle;
}
.key span {
  font-size: 18px;
}

.spin-container {
  position: relative;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spin-icon {
  margin-top: 1rem;
  animation: glow 10s infinite alternate;
}

.rotate { 
  animation: rotate 2s infinite linear; 
}

.spin-button {
  background: var(--color-gold);
  width: 100%;
  padding: 1.2rem;
  margin-top: 2rem;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 10px;
}
.spin-button span {
  font-size: 15px;
  font-weight: bold;
}

.spin-cool {
  background-color: var(--color-darkgold);
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 10px;
}

.reward-display {
  background-color: var(--color-black);
  color: var(--color-gold);
  font-size: 10px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 70px;
  left: 35%;
  padding: 0.5rem 2rem;
  border-radius: 10px;
}

.float-reward {
  animation: float 2s forwards;
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(100px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

.footer-container {
  background: var(--background);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem 0;
  border-top: 1px solid var(--color-gray);
}
.footer-link {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: var(--color-gray);
}


/* Referral page style */
.invite-rule {
  border-top: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
  margin-top: 5rem;
  font-weight: 600;
  padding: 0px 1.5rem;
}
.inviterule-card {
  border-left: 1px solid var(--color-gray);
  border-right: 1px solid var(--color-gray);
}
.text-card {
  text-align: center;
  padding: 1rem;
}
.invite-rule p {
  margin-top: 0.5rem;
  color: var(--color-gray);
  font-size: 14px;
}
.highlight {
  color: var(--color-white);
}
.invite-rewards {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-gray);
  padding: 1rem;
}
.invite-points span {
  margin-left: 0.3rem;
}
.invite-button {
  padding: 0 1.5rem;
  margin-top: 3rem;
}
.invite-button button {
  padding: 1.2rem 0;
  border-radius: 0.5rem;
}
.invitebtn-first {
  width: 80%;
  margin-right: 2%;
  background-color: var(--color-gold);
  border: none;
}
.invitebtn-first span {
  font-weight: bold;
  font-size: 15px;
}
.invitebtn-second {
  width: 18%;
  background-color: transparent;
  border: 1px solid var(--color-gray);
}